<footer class="sdds-footer">

    <div class="sdds-footer-top sdds-container-fluid">
      <div class="sdds-row">
        
        <div class="sdds-footer-top-col sdds-col-max sdds-col-xxlg sdds-col-xlg sdds-col-lg sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
          <div (click)="toggleFooterColumn(0); $event.stopPropagation();" [ngClass]="{'opened': this.toggle[1]}" class="sdds-footer-title">
            <span>Title</span>
            <button class="sdds-footer-top-icon">
              <svg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'>
              <path d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' />
              </svg>
            </button>
          </div>
          <ul [ngClass]="{'opened': this.toggle[0]}" class="sdds-footer-main-links">
              <li><a (click)="removeFocus($event);" [routerLink]="'/deliveries'">Deliveries & returns</a></li>
              <li><a (click)="removeFocus($event);">Link</a></li>
              <li><a (click)="removeFocus($event);">Link</a></li>
              <li><a (click)="removeFocus($event);">Link</a></li>
              <li><a (click)="removeFocus($event);">Link</a></li>
          </ul>
        </div>
  
        <div class="sdds-footer-top-col sdds-col-max sdds-col-xxlg sdds-col-xlg sdds-col-lg sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
          <div (click)="toggleFooterColumn(1); $event.stopPropagation();" [ngClass]="{'opened': this.toggle[1]}" class="sdds-footer-title">
              <span>Title</span>
              <button class="sdds-footer-top-icon">
                <svg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <path d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' />
                </svg>
              </button>
            </div>
            <ul [ngClass]="{'opened': this.toggle[1]}" class="sdds-footer-main-links">
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
            </ul>
        </div>

        <div class="sdds-footer-top-col sdds-col-max sdds-col-xxlg sdds-col-xlg sdds-col-lg sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
          <div (click)="toggleFooterColumn(2); $event.stopPropagation();" [ngClass]="{'opened': this.toggle[1]}" class="sdds-footer-title">
              <span>Title</span>
              <button class="sdds-footer-top-icon">
                <svg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <path d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' />
                </svg>
              </button>
            </div>
            <ul [ngClass]="{'opened': this.toggle[2]}" class="sdds-footer-main-links">
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
            </ul>
        </div>

        <div class="sdds-footer-top-col sdds-col-max sdds-col-xxlg sdds-col-xlg sdds-col-lg sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
          <div (click)="toggleFooterColumn(3); $event.stopPropagation();" [ngClass]="{'opened': this.toggle[1]}" class="sdds-footer-title">
              <span>Title</span>
              <button class="sdds-footer-top-icon">
                <svg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <path d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' />
                </svg>
              </button>
            </div>
            <ul [ngClass]="{'opened': this.toggle[3]}" class="sdds-footer-main-links">
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
                <li><a (click)="removeFocus($event);">Link</a></li>
            </ul>
        </div>

      </div>
    </div>
      
    <div class="sdds-footer-main">
      <ul class="sdds-footer-main-links">  
        <li><a href="https://www.scania.com/group/en/home/admin/misc/privacy-statement/cookies.html" target="_blank" rel="nofollow noreferrer">Legal link</a></li>          
      </ul>      
      <div class="sdds-footer-main-brand">
        <p>
            © Copyright Scania 2022 All rights reserved.
        </p>
      </div>
    </div>
  </footer>