:host {
    min-height: 100vh;
    z-index: 10;

    .sdds-sidebar.side-menu {
        height: 100%;

        .sdds-sidebar-mheader__close {
            border: 0;
            background-color: transparent;
        }
    }
}

