@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

:host {
    background-color: var(--sdds-grey-50);
    @include type-style('body-01');
    overflow: hidden;
    position: relative;
    height: 100vh;

    display: flex;
    flex-flow: column;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.sdds-container {
    max-width: initial;
}

.sdds-push {
    // height: 100%;
    overflow: hidden;
}
