:host {
    @include type-style('body-01');
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.sdds-banner {
    &.hide-banner {
        display: none;
    }
}
