@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

:host {
    background-color: var(--sdds-grey-50);
    @include type-style('body-01');
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.sdds-container {
    max-width: initial;
}

.sdds-banner {
    background-color: var(--sdds-grey-300);

    &.hide-banner {
        display: none;
    }
}
