@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';
@import '@scania/grid/dist/scss/grid.scss';

.sdds-container.cart-page {
    background-color: #f8f9fa;
    padding-top: 72px;
}

.product-details-row {    
    > * {
        padding-right: 0;
    }
    > :first-child {
        padding-left: 0;
        padding-right: 4rem;
    }
    > :nth-child(3) {
        padding-left: 0;
    }
}

h2 {
    @include type-style('headline-03');
    margin-bottom: 64px;
}

img {
    width: 100%;
    height: auto;
    min-height: 225px;
    object-fit: cover;
    margin-bottom: 64px;
}

.product-details-col {
    padding-top: 24px;
    position: relative;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
}

h3 {
    @include type-style('headline-05');
    margin-bottom: 8px;
}

span {
    @include type-style('headline-05');
    color: var(--sdds-grey-600);
    display: block;
    width: 100%;

    &.price {
        margin-bottom: 32px;        
    }

    &.align-right {
        text-align: right;
    }

    &.price-alt {
        margin-bottom: 24px;
        margin-top: 100px;
    }
}

p {
    @include type-style('body-01');
    margin-bottom: 32px;
}

.order-rows-row {
    margin-bottom: 100px;
}

.order-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #DBDFE6;
    padding-top: 24px;
    padding-bottom: 24px;

    span {
        &.result {
            @include type-style('headline-03');
            color: var(--sdds-grey-958);
        }

        &:nth-child(2) {
            text-align: right;
        }
    }
}

.form-part {
    margin-bottom: 104px;
    position: relative;

    .divider-line {
        border-top: 1px solid #DBDFE6;
        margin-bottom: 32px;
    }
    

    .sdds-checkbox-item {
        margin-top: 32px;
        margin-bottom: 104px;
    }

    > * {
        width: 100%;
        margin-bottom: 24px;
        display: block;
    }

    .edit-button {
        position: absolute;
        right: 0;
        top: 0;
        width: initial;

        cursor: pointer;

        display: flex;
        flex-wrap: nowrap;

        span {
            @include type-style("detail-01");
            display: flex;
            color: #000;
            font-weight: 400;
        }
        
        svg {
            width: 24px;
        }
    }

    .sdds-radio-item {
        margin-bottom: 12px;
    }

    h3 {
        @include type-style("headline-04");
        margin-bottom: 24px;
    }

    .textfield-row {
        display: flex;
        flex-wrap: nowrap;
       
        > * {
            width: 100%;
        }

        > :first-child {
            width: 42%;
            margin-right: 24px;
        }        
    }
}