@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';
@import '@scania/grid/dist/scss/grid.scss';

footer {
    background-color: #fff;

    button {
        background-color: transparent;
        border: 0;
    }
}

.sdds-footer-top {
    background-color: transparent;
}
